
.first-container {
    background-color: #1F2937;
    font-family: Roboto;
}

.third-container {
    background-color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
    align-items: center
}

ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
    color: #E5E7EB;
}

.first-container .info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.main-text {
    font-size: 48px;
    color: #F0FAF8;
    font-weight: 900;
}
.button {
    background-color: rgb(30, 139, 228);
}
.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.first-container .info img {
    width: 200px;
    height: 100px;
    align-self: center;
    margin-left: 55px;
}

body {
    width: 100%;
}

